# Maven
target/
*.jar
*.war
*.ear
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Application
*.log
*.pid
*.pid.lock
